@import '../../../sass/lib/variables';

.header{
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas: "left center right";
  align-items: center;
  padding: 12px clamp(33px, 5vw, 120px);
  box-shadow: 0 0 7px 0px #666666a6;
  position: relative;
  &__hamburger{
      grid-area: left;
      z-index: 200;
      display: inline-block;
      cursor: pointer;
      transition-property: opacity,-webkit-filter;
      transition-property: opacity,filter;
      transition-property: opacity,filter,-webkit-filter;
      transition-duration: .15s;
      transition-timing-function: linear;
      text-transform: none;
      background-color: transparent;
      border: 0;
      margin-right: auto;
      overflow: visible;
      &--box{
        width: 38px;
        height: 6px;
        display: inline-block;
        position: relative;
        &_inner{
          width: clamp(25px, 5vw, 38px);
          height: 3px;
          background-color: black;
          border-radius: 2px;
          position: absolute;
          left: 0;
          top: 0;
          transition-property: -webkit-transform;
          transition-property: transform;
          transition-property: transform,-webkit-transform;
          transition-duration: .15s;
          transition-timing-function: ease;
          &::after, &::before{
            content: "";
            display: block;
            width:  clamp(25px, 5vw, 38px);
            height: 3px;
            background-color: black;
            border-radius: 2px;
            position: absolute;
            transition-property: -webkit-transform;
            transition-property: transform;
            transition-property: transform,-webkit-transform;
            transition-duration: .15s;
            transition-timing-function: ease;
          }
          &::after{
            bottom: -9px;
            transition: bottom 75ms ease .12s,transform 75ms cubic-bezier(.55,.055,.675,.19),-webkit-transform 75ms cubic-bezier(.55,.055,.675,.19);
          }
          &::before{
            top: -9px;
            transition: top 75ms ease .12s,opacity 75ms ease;
          }
          &[class~=active]{
            background-color: $purple;
            transform: rotate(45deg);
            transition-delay: .12s;
            transition-timing-function: cubic-bezier(.215,.61,.355,1);
            &::before{
              background-color: $purple;
              top: 0;
              opacity: 0;
              transition: top 75ms ease,opacity 75ms ease .12s;
            }
            &::after{
              background-color: $purple;
              bottom: 0;
              -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg);
              transition: bottom 75ms ease,-webkit-transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
              transition: bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
              transition: bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) .12s,-webkit-transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
            }
          }
        }
      }
    }
  &__logo{
    grid-area: center;
  }
  &__search{
    grid-area: right;
    display: flex;
    justify-content: flex-end;
  }
  &__nav{
    max-width: 410px;
    width: 100%;
    height: 100vh;
    background-color: white;
    position:absolute;
    left: -100%;
    top: 0;
    transition: all 0.3s ease-in-out;
    box-shadow: 1px 4px 7px 0px #666666a6;
    padding: 100px 50px 100px clamp(33px, 5vw, 120px);
    z-index: 100;
    &[class~=active]{
      left: 0;
    }
    &--item{
      margin-bottom: 2rem;
      font-family: $font-secondary;
      [class~=category]{
        font-size: 24px;
        font-weight: bold;
        padding-bottom: 10px;
        margin-bottom: 8px;
        border-bottom: 1px solid $lightGray;
        color: $purple;

      }
      ul{
        list-style: none;
        li{
          padding: 0.5rem 0;
          a{
            width: 100%;
            display: block;
            position: relative;
            &::after{
              content: " ";
              background-image: url("/icons/ic-arrow.svg");
              position: absolute;
              width: 24px;
              height: 24px;
              right: 1rem;
              transition: all 0.3s ease-in-out;
            }
            &:hover{
              &::after{
                right: 0;
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 800px) {
    
  }
}