.input {
  display: flex;
  transition: all 0.3s ease-in-out;
  position: relative;
  input,
  select {
    border: 1px solid $lightGray;
    border-radius: 5px;
    padding: 0.8rem 1rem;
    width: 100%;
    font-size: 16px;
    background-color: transparent;
    position: relative;
    transition: all 0.3s ease-in-out;
    &::placeholder {
      color: $gray;
    }
  }
  &.bg-light{
    input{
      border-color: white;
      color: white;
      &::placeholder{
        color: white;
      }
    }
  }
  &.ic-search {
    input {
      padding-right: 2.5rem;
    }
    &::after {
      content: "";
      width: 22px;
      height: 22px;
      background-image: url("/icons/ic-search.svg");
      position: absolute;
      top: 0;
      right: 1rem;
      bottom: 0;
      margin: auto;
      background-repeat: no-repeat;
    }
  }
  &.icon{
    width: 25px;
    input{
      padding: 0.4rem 1rem;
      border: none;
    }
    &::after{
      right: 0;
      border: none;
    }
    &.active{
      max-width: 200px;
      width: 100%;
      input{
        border-bottom: 1px solid $lightGray;
        border-radius: 0;
      }
    }
  }
  &.submit{
    background-color: $pink;
    border-radius: 5px;
    [type="submit"]{
      color: white;
      padding-right: 3rem;
      font-weight: bold;
      cursor: pointer;
      border-color: $pink;
    }
    &::after {
      content: "";
      width: 30px;
      height: 30px;
      background-image: url("/icons/ic-arrow.svg");
      position: absolute;
      top: 0;
      right: 0.8rem;
      bottom: 0;
      margin: auto;
      background-repeat: no-repeat;
      background-size: cover;
      filter: brightness(0) invert(1);
      transition: all 0.3s ease-in-out;
    }
    &:hover{
      &::after{
        right: 0.2rem;
      }
    }
  }
}
